@import url(styles.css);
:root {
  --secondary-color: #f3094e;
  --primary-color: #fee5e8;
  --card-color: #f04275;
}

body {
  background-size: cover;
  background-position: center;
  padding: 2rem 1rem;
}

.card-space {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.card-front {
  width: 35%;
  background-color: var(--card-color);
  font-weight: 600;
  font-size: 4rem;
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 30px var(--card-color);
  border-radius: 30px;
  aspect-ratio: 3/4;
}

.card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--card-color);
  background-color: white;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 0 30px var(--card-color);
  border-radius: 30px;
  aspect-ratio: 3/4;
}

.card-back .title {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 0;
}

.card-back .subtitle {
  font-size: 1.2rem;
}

.card-back .image {
  border-radius: 100%;
  background-image: url(card-img.png);
  background-size: cover;
  background-position: center;
  padding: 7rem;
}

.card-back .desc {
  margin: 3rem 2rem 0.5rem 2rem;
}

.card-back .translation {
  margin: 0rem 3rem 3rem 3rem;
  opacity: 70%;
}
