.login-page {
  --secondary-color: #f3094e;
  --primary-color: #fee5e8;
  --card-color: #f04275;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  background-color: (--primary-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  background-color: ;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-button {
  padding: 10px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.login-error {
  color: red;
  font-size: 14px;
  margin: 0;
}

.login-register-prompt {
  margin-top: 20px;
  text-align: center;
}